<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<head>
</head>
<style></style>
<body data-topbar="dark">

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" layout:fragment="content">
    <div class="page-content">
        <style>
            .er {
                color: red;
                font-size: 13px;
            }

            .show-pass {
                border: 1px solid #ced4da;
                border-left: none;
            }

            .inputInInputgroup {
                border-right: none;
            }
        </style>
        <link th:href="@{/admin/css/fileupload.css}" rel="stylesheet" type="text/css"/>
        <!-- start page title -->
        <!-- end page title -->
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <form id="formUser" method="post" action="/admin/doi-mat-khau" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header">
                            <h4>Đổi mật khẩu</h4>
                        </div>
                        <div class="card-body">
                            <!-- Thông báo thành công -->
                            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                                <span th:text="${successMessage}"></span>
                            </div>

                            <!-- Thông báo lỗi -->
                            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                                <span th:text="${errorMessage}"></span>
                            </div>

                            <div class="mb-3">
                                <label for="passOld">Mật khẩu cũ</label>
                                <input id="passOld" name="currentPassword" type="password" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="passNew">Mật khẩu mới</label>
                                <input id="passNew" name="newPassword" type="password" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="verifyPassNew">Nhập lại mật khẩu mới</label>
                                <input id="verifyPassNew" name="verifyNewPassword" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script>
                © Dason.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</div>

<!-- end main content-->
<!-- JAVASCRIPT -->
</body>
</html>
